modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 36784306
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd conversational-assistant && npm run dev"
